.content {
  background: #1088a2;
  width: 100%;
  padding: 3rem 0;
  color: #fff;
}

.title {
  font-size: 2.5rem;
}

.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.practice {
  padding: 50px 0;
}

.amazon {
  background: url(../../../static/img/amazon.jpeg) no-repeat;
  background-size: cover;
  padding: 200px 230px;
  margin-right: 26px;
  border-radius: 10px;
}

.link {
  color: rgb(247, 253, 203);
  transition: all 0.1s;
}

.link:hover {
  color: rgb(247, 253, 203);
  filter: brightness(1.2);
}

@media screen and (max-width: 1198px) {
  .steps {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 2rem;
    margin-top: 48px;
  }

  .amazon {
    width: 100%;
    padding: 5rem;
    margin-right: 0;
    background-position: center;
  }

  .practice {
    padding: 0 16px;
  }
}
